[submodule "googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule ".devcontainer"]
	path = .devcontainer
	url = git@github.com:Nrockwood/.devcontainer.git
[submodule "external/openSpaceToolkitCore"]
	path = external/openSpaceToolkitCore
	url = git@github.com:open-space-collective/open-space-toolkit-core.git
